.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0.5em 1em;

    .navbar-nav {
        list-style-type: none;

        .nav-item {
            display: inline-block;
            margin-left: 1em;

            .nav-link {
                font-size: 16px;
                transition: color 0.3s ease;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fileInputContainer {
        margin-bottom: 1em;

        .customFileInput {
            display: inline-block;
            padding: 1em 2em;
            border-radius: 10px;
            background-color: #007bff;
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #0056b3;
            }

            #imageUpload {
                display: none;
            }
        }
    }

    .fileName {
        margin-bottom: 1em;
    }

    .uploadButton {
        padding: 8px 2em;
        border: none;
        border-radius: 10px;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}